.certificates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.certificate {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 30vw; /* Adjust the width as needed */
}

